.grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.choices{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}